{"openapi":"3.1.0","info":{"title":"MCJars API","version":"3.8.1:9f46c68"},"servers":[{"url":"https://mcjars.app"}],"paths":{"/api/organization/v1":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","infos","stats"],"properties":{"success":{"type":"boolean"},"infos":{"type":"object","required":["icon","name","types"],"properties":{"icon":{"type":"string"},"name":{"type":"string"},"types":{"type":"array","items":{"$ref":"#/components/schemas/ServerType"}}}},"stats":{"type":"object","required":["requests","userAgents","origins"],"properties":{"requests":{"type":"integer","format":"int64"},"userAgents":{"type":"array","items":{"type":"string"}},"origins":{"type":"array","items":{"type":"string"}}}}}}}}}}}},"/api/organization/v1/types":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","types"],"properties":{"success":{"type":"boolean"},"types":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}}}}}}}}},"patch":{"operationId":"route","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["types"],"properties":{"types":{"type":"array","items":{"$ref":"#/components/schemas/ServerType"}}}}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}}}},"/api/user":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","user"],"properties":{"success":{"type":"boolean"},"user":{"$ref":"#/components/schemas/ApiUser"}}}}}}}}},"/api/user/admin/stats":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"object","required":["organizations","users","sessions","webhooks","requests","internal"],"properties":{"organizations":{"type":"integer","format":"int64"},"users":{"type":"integer","format":"int64"},"sessions":{"type":"integer","format":"int64"},"webhooks":{"type":"integer","format":"int64"},"requests":{"type":"object","required":["total","minute","hour","day","week","month","year"],"properties":{"total":{"type":"integer","format":"int64"},"minute":{"type":"integer","format":"int64"},"hour":{"type":"integer","format":"int64"},"day":{"type":"integer","format":"int64"},"week":{"type":"integer","format":"int64"},"month":{"type":"integer","format":"int64"},"year":{"type":"integer","format":"int64"}}},"internal":{"type":"object","required":["idleReadConnections","idleWriteConnections","cacheHits","cacheMisses"],"properties":{"idleReadConnections":{"type":"integer","minimum":0},"idleWriteConnections":{"type":"integer","minimum":0},"cacheHits":{"type":"integer","minimum":0},"cacheMisses":{"type":"integer","minimum":0}}}}}}}}}}}}},"/api/user/invites/{organization}/accept":{"post":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/invites/{organization}/decline":{"post":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/logout":{"post":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}}}},"/api/user/organizations":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","organizations"],"properties":{"success":{"type":"boolean"},"organizations":{"type":"object","required":["owned","member","invites"],"properties":{"owned":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}},"member":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}},"invites":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}}}}}}}}}}},"post":{"operationId":"route","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","maxLength":16,"minLength":3}}}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"409":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/organizations/{organization}":{"get":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","organization"],"properties":{"success":{"type":"boolean"},"organization":{"$ref":"#/components/schemas/Organization"}}}}}}}},"delete":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}}},"patch":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":["string","null"]},"owner":{"type":["string","null"]},"public":{"type":["boolean","null"]},"types":{"type":["array","null"],"items":{"$ref":"#/components/schemas/ServerType"}}}}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/organizations/{organization}/api-keys":{"get":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","apiKeys"],"properties":{"success":{"type":"boolean"},"apiKeys":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationKey"}}}}}}}}},"post":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"}}}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","key"],"properties":{"success":{"type":"boolean"},"key":{"type":"string"}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"409":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/organizations/{organization}/api-keys/{key}":{"get":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"key","in":"path","description":"The api key ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","apiKey"],"properties":{"success":{"type":"boolean"},"apiKey":{"$ref":"#/components/schemas/OrganizationKey"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}},"delete":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"key","in":"path","description":"The api key ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/organizations/{organization}/icon":{"post":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"text/plain":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","url"],"properties":{"success":{"type":"boolean"},"url":{"type":"string"}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/organizations/{organization}/stats":{"get":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"object","required":["requests","userAgents","ips","origins","continents","countries"],"properties":{"requests":{"type":"integer","format":"int64"},"userAgents":{"type":"integer","format":"int64"},"ips":{"type":"integer","format":"int64"},"origins":{"type":"integer","format":"int64"},"continents":{"type":"integer","format":"int64"},"countries":{"type":"integer","format":"int64"}}}}}}}}}}},"/api/user/organizations/{organization}/subusers":{"get":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","users"],"properties":{"success":{"type":"boolean"},"users":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationSubuser"}}}}}}}}},"post":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["login"],"properties":{"login":{"type":"string"}}}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"403":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"409":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/user/organizations/{organization}/subusers/{subuser}":{"get":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"subuser","in":"path","description":"The subuser login name","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","user"],"properties":{"success":{"type":"boolean"},"user":{"$ref":"#/components/schemas/OrganizationSubuser"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}},"delete":{"operationId":"route","parameters":[{"name":"organization","in":"path","description":"The organization ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"subuser","in":"path","description":"The subuser login name","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}},"403":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"409":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v1/build/{build}":{"get":{"operationId":"route","parameters":[{"name":"build","in":"path","description":"The build number or hash to lookup","required":true,"schema":{"type":"string"},"example":"b1f3eeac53355d9ba5cf19e36abe8b2a30278c0e60942f3d07ac9ac9e4564951"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","build","latest","version"],"properties":{"success":{"type":"boolean"},"build":{"$ref":"#/components/schemas/Build"},"latest":{"$ref":"#/components/schemas/Build"},"version":{"$ref":"#/components/schemas/MinifiedVersion"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v1/builds/{type}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","versions"],"properties":{"success":{"type":"boolean"},"versions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Version"},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v1/builds/{type}/{version}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","builds"],"properties":{"success":{"type":"boolean"},"builds":{"type":"array","items":{"$ref":"#/components/schemas/Build"}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v1/builds/{type}/{version}/{build}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"},{"name":"build","in":"path","description":"The build number or latest","required":true,"schema":{"type":"string"},"example":"latest"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","build"],"properties":{"success":{"type":"boolean"},"build":{"$ref":"#/components/schemas/Build"}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v1/script/{build}/bash":{"get":{"operationId":"route","parameters":[{"name":"build","in":"path","description":"The build number or hash to lookup","required":true,"example":"b1f3eeac53355d9ba5cf19e36abe8b2a30278c0e60942f3d07ac9ac9e4564951"},{"name":"echo","in":"query","description":"Whether to echo inside the script","required":true,"example":"true"}],"responses":{"200":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}},"404":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/api/v1/script/{build}/powershell":{"get":{"operationId":"route","parameters":[{"name":"build","in":"path","description":"The build number or hash to lookup","required":true,"example":"b1f3eeac53355d9ba5cf19e36abe8b2a30278c0e60942f3d07ac9ac9e4564951"},{"name":"echo","in":"query","description":"Whether to echo inside the script","required":true,"example":"true"}],"responses":{"200":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}},"404":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/api/v1/stats":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"object","required":["builds","hashes","requests","size","total"],"properties":{"builds":{"type":"integer","format":"int64"},"hashes":{"type":"integer","format":"int64"},"requests":{"type":"integer","format":"int64"},"size":{"type":"object","required":["database"],"properties":{"database":{"type":"integer","format":"int64"}}},"total":{"type":"object","required":["jarSize","zipSize"],"properties":{"jarSize":{"type":"integer","format":"int64"},"zipSize":{"type":"integer","format":"int64"}}}}}}}}}}}}},"/api/v1/types":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","types"],"properties":{"success":{"type":"boolean"},"types":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}}}}}}}}}},"/api/v1/version/{version}":{"get":{"operationId":"route","parameters":[{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","version"],"properties":{"success":{"type":"boolean"},"version":{"$ref":"#/components/schemas/MinifiedVersionStats"}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v1/version/{version}/builds":{"get":{"operationId":"route","parameters":[{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","builds"],"properties":{"success":{"type":"boolean"},"builds":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/Build"}},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}},"deprecated":true}},"/api/v2/build":{"post":{"operationId":"route","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":["integer","null"],"format":"int32","minimum":0},"type":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/ServerType"}]},"versionId":{"type":["string","null"]},"projectVersionId":{"type":["string","null"]},"name":{"type":["string","null"]},"buildNumber":{"type":["integer","null"],"format":"int32","minimum":0},"experimental":{"type":["boolean","null"]},"jarUrl":{"type":["string","null"]},"jarSize":{"type":["integer","null"],"format":"int32","minimum":0},"zipUrl":{"type":["string","null"]},"zipSize":{"type":["integer","null"],"format":"int32","minimum":0},"hash":{"oneOf":[{"type":"null"},{"type":"object","properties":{"primary":{"type":["boolean","null"]},"sha1":{"type":["string","null"]},"sha224":{"type":["string","null"]},"sha256":{"type":["string","null"]},"sha384":{"type":["string","null"]},"sha512":{"type":["string","null"]},"md5":{"type":["string","null"]}}}]}}},{"type":"array","items":{"type":"object","properties":{"id":{"type":["integer","null"],"format":"int32","minimum":0},"type":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/ServerType"}]},"versionId":{"type":["string","null"]},"projectVersionId":{"type":["string","null"]},"name":{"type":["string","null"]},"buildNumber":{"type":["integer","null"],"format":"int32","minimum":0},"experimental":{"type":["boolean","null"]},"jarUrl":{"type":["string","null"]},"jarSize":{"type":["integer","null"],"format":"int32","minimum":0},"zipUrl":{"type":["string","null"]},"zipSize":{"type":["integer","null"],"format":"int32","minimum":0},"hash":{"oneOf":[{"type":"null"},{"type":"object","properties":{"primary":{"type":["boolean","null"]},"sha1":{"type":["string","null"]},"sha224":{"type":["string","null"]},"sha256":{"type":["string","null"]},"sha384":{"type":["string","null"]},"sha512":{"type":["string","null"]},"md5":{"type":["string","null"]}}}]}}}}]}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","build","latest","version","configs"],"properties":{"success":{"type":"boolean"},"build":{"$ref":"#/components/schemas/Build"},"latest":{"$ref":"#/components/schemas/Build"},"version":{"$ref":"#/components/schemas/MinifiedVersion"},"configs":{"type":"object","additionalProperties":{"type":"object","required":["type","format","value"],"properties":{"type":{"$ref":"#/components/schemas/ServerType"},"format":{"$ref":"#/components/schemas/Format"},"value":{"type":"string"}}},"propertyNames":{"type":"string"}}}}}}},"207":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","builds"],"properties":{"success":{"type":"boolean"},"builds":{"type":"array","items":{"oneOf":[{"type":"null"},{"type":"object","required":["build","latest","version","configs"],"properties":{"build":{"$ref":"#/components/schemas/Build"},"latest":{"$ref":"#/components/schemas/Build"},"version":{"$ref":"#/components/schemas/MinifiedVersion"},"configs":{"type":"object","additionalProperties":{"type":"object","required":["type","format","value"],"properties":{"type":{"$ref":"#/components/schemas/ServerType"},"format":{"$ref":"#/components/schemas/Format"},"value":{"type":"string"}}},"propertyNames":{"type":"string"}}}}]}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"413":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/builds/{type}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","builds"],"properties":{"success":{"type":"boolean"},"builds":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Version"},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v2/builds/{type}/{version}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","builds"],"properties":{"success":{"type":"boolean"},"builds":{"type":"array","items":{"$ref":"#/components/schemas/Build"}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/config":{"post":{"operationId":"route","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["file","config"],"properties":{"file":{"type":"string"},"config":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","formatted","configs"],"properties":{"success":{"type":"boolean"},"formatted":{"type":"string"},"configs":{"type":"array","items":{"type":"object","required":["from","value"],"properties":{"from":{"$ref":"#/components/schemas/ServerType"},"value":{"type":"string"},"build":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Build"}]}}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/configs":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","configs"],"properties":{"success":{"type":"boolean"},"configs":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Config"},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v2/lookups/types":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","types"],"properties":{"success":{"type":"boolean"},"types":{"type":"object","additionalProperties":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v2/lookups/types/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","types"],"properties":{"success":{"type":"boolean"},"types":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","required":["day","total","uniqueIps"],"properties":{"day":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}}},"propertyNames":{"type":"string"}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/lookups/versions":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","versions"],"properties":{"success":{"type":"boolean"},"versions":{"type":"object","additionalProperties":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v2/lookups/versions/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","versions"],"properties":{"success":{"type":"boolean"},"versions":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","required":["day","total","uniqueIps"],"properties":{"day":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}}},"propertyNames":{"type":"string"}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/lookups/versions/{type}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","versions"],"properties":{"success":{"type":"boolean"},"versions":{"type":"object","additionalProperties":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v2/lookups/versions/{type}/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","versions"],"properties":{"success":{"type":"boolean"},"versions":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","required":["day","total","uniqueIps"],"properties":{"day":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}}},"propertyNames":{"type":"string"}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/requests/version/{version}":{"get":{"operationId":"route","parameters":[{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","requests"],"properties":{"success":{"type":"boolean"},"requests":{"type":"object","additionalProperties":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"propertyNames":{"type":"string"}}}}}}}}}},"/api/v2/requests/version/{version}/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"},{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","requests"],"properties":{"success":{"type":"boolean"},"requests":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","required":["day","total","uniqueIps"],"properties":{"day":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}}},"propertyNames":{"type":"string"}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/requests/{type}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","requests"],"properties":{"success":{"type":"boolean"},"requests":{"type":"object","required":["root","versions"],"properties":{"root":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"versions":{"type":"object","additionalProperties":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"propertyNames":{"type":"string"}}}}}}}}}}}},"/api/v2/requests/{type}/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","requests"],"properties":{"success":{"type":"boolean"},"requests":{"type":"array","items":{"type":"object","required":["day","root","versions"],"properties":{"day":{"type":"integer","format":"int32"},"root":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"versions":{"type":"object","additionalProperties":{"type":"object","required":["total","uniqueIps"],"properties":{"total":{"type":"integer","format":"int64"},"uniqueIps":{"type":"integer","format":"int64"}}},"propertyNames":{"type":"string"}}}}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/stats/version/{version}":{"get":{"operationId":"route","parameters":[{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"object","required":["buids","size"],"properties":{"buids":{"type":"integer","format":"int64"},"size":{"type":"object","required":["total","average"],"properties":{"total":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"integer","format":"int64"},"zip":{"type":"integer","format":"int64"}}},"average":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"}}}}}}}}}}}}}}},"/api/v2/stats/version/{version}/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"},{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"array","items":{"type":"object","required":["day","buids","size"],"properties":{"day":{"type":"integer","format":"int32"},"buids":{"type":"integer","format":"int64"},"size":{"type":"object","required":["total","average"],"properties":{"total":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"integer","format":"int64"},"zip":{"type":"integer","format":"int64"}}},"average":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"}}}}}}}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/stats/{type}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"object","required":["buids","size"],"properties":{"buids":{"type":"integer","format":"int64"},"size":{"type":"object","required":["total","average"],"properties":{"total":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"integer","format":"int64"},"zip":{"type":"integer","format":"int64"}}},"average":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"}}}}}}}}}}}}}}},"/api/v2/stats/{type}/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"array","items":{"type":"object","required":["day","buids","size"],"properties":{"day":{"type":"integer","format":"int32"},"buids":{"type":"integer","format":"int64"},"size":{"type":"object","required":["total","average"],"properties":{"total":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"integer","format":"int64"},"zip":{"type":"integer","format":"int64"}}},"average":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"}}}}}}}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/stats/{type}/{version}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"object","required":["buids","size"],"properties":{"buids":{"type":"integer","format":"int64"},"size":{"type":"object","required":["total","average"],"properties":{"total":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"integer","format":"int64"},"zip":{"type":"integer","format":"int64"}}},"average":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"}}}}}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/stats/{type}/{version}/history/{year}/{month}":{"get":{"operationId":"route","parameters":[{"name":"type","in":"path","description":"The server type","required":true,"schema":{"$ref":"#/components/schemas/ServerType"},"example":"VANILLA"},{"name":"version","in":"path","description":"The server version","required":true,"schema":{"type":"string"},"example":"1.17.1"},{"name":"year","in":"path","description":"The year to get the version history for","required":true,"schema":{"type":"integer","format":"int32","minimum":2024}},{"name":"month","in":"path","description":"The month to get the version history for","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","stats"],"properties":{"success":{"type":"boolean"},"stats":{"type":"array","items":{"type":"object","required":["day","buids","size"],"properties":{"day":{"type":"integer","format":"int32"},"buids":{"type":"integer","format":"int64"},"size":{"type":"object","required":["total","average"],"properties":{"total":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"integer","format":"int64"},"zip":{"type":"integer","format":"int64"}}},"average":{"type":"object","required":["jar","zip"],"properties":{"jar":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"}}}}}}}}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}},"/api/v2/types":{"get":{"operationId":"route","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","types"],"properties":{"success":{"type":"boolean"},"types":{"type":"object","required":["recommended","established","experimental","miscellaneous","limbos"],"properties":{"recommended":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}},"established":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}},"experimental":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}},"miscellaneous":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}},"limbos":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServerTypeInfo"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","required":["success","errors"],"properties":{"success":{"type":"boolean","default":false},"errors":{"type":"array","items":{"type":"string"}}}}}}}}}}},"components":{"schemas":{"ApiUser":{"type":"object","title":"User","required":["id","githubId","admin","avatar","email","login"],"properties":{"id":{"type":"integer","format":"int32"},"githubId":{"type":"integer","format":"int32"},"admin":{"type":"boolean"},"name":{"type":["string","null"]},"avatar":{"type":"string"},"email":{"type":"string"},"login":{"type":"string"}}},"Build":{"type":"object","required":["id","type","experimental","name","buildNumber","installation","changes"],"properties":{"id":{"type":"integer","format":"int32"},"versionId":{"type":["string","null"],"example":"1.17.1"},"projectVersionId":{"type":["string","null"]},"type":{"$ref":"#/components/schemas/ServerType"},"experimental":{"type":"boolean"},"name":{"type":"string"},"buildNumber":{"type":"integer","format":"int32"},"jarUrl":{"type":["string","null"]},"jarSize":{"type":["integer","null"],"format":"int32"},"zipUrl":{"type":["string","null"]},"zipSize":{"type":["integer","null"],"format":"int32"},"installation":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/InstallationStep"}}},"changes":{"type":"array","items":{"type":"string"}},"created":{"type":["string","null"],"format":"date-time"}}},"Config":{"type":"object","required":["type","format","aliases"],"properties":{"type":{"$ref":"#/components/schemas/ServerType"},"format":{"$ref":"#/components/schemas/Format"},"aliases":{"type":"array","items":{"type":"string"}}}},"Format":{"type":"string","enum":["PROPERTIES","YAML","CONF","TOML","JSON5"]},"InstallationStep":{"oneOf":[{"allOf":[{"type":"object","required":["url","file","size"],"properties":{"url":{"type":"string"},"file":{"type":"string"},"size":{"type":"integer","format":"int64","minimum":0}}},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["download"]}}}]},{"allOf":[{"type":"object","required":["file","location"],"properties":{"file":{"type":"string"},"location":{"type":"string"}}},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["unzip"]}}}]},{"allOf":[{"type":"object","required":["location"],"properties":{"location":{"type":"string"}}},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["remove"]}}}]}]},"MinifiedVersion":{"type":"object","required":["id","type","supported","java","builds","created"],"properties":{"id":{"type":"string"},"type":{"$ref":"#/components/schemas/VersionType"},"supported":{"type":"boolean"},"java":{"type":"integer","format":"int32"},"builds":{"type":"integer","format":"int64"},"created":{"type":"string","format":"date-time"}}},"MinifiedVersionStats":{"type":"object","required":["type","supported","java","created","builds"],"properties":{"type":{"$ref":"#/components/schemas/VersionType"},"supported":{"type":"boolean"},"java":{"type":"integer","format":"int32"},"created":{"type":"string","format":"date-time"},"builds":{"type":"object","additionalProperties":{"type":"integer","format":"int64"},"propertyNames":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]}}}},"Organization":{"type":"object","required":["id","owner","verified","public","name","icon","types","created"],"properties":{"id":{"type":"integer","format":"int32"},"owner":{"$ref":"#/components/schemas/ApiUser"},"verified":{"type":"boolean"},"public":{"type":"boolean"},"name":{"type":"string"},"icon":{"type":"string"},"types":{"type":"array","items":{"$ref":"#/components/schemas/ServerType"}},"created":{"type":"string","format":"date-time"}}},"OrganizationKey":{"type":"object","required":["id","name","created"],"properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"created":{"type":"string","format":"date-time"}}},"OrganizationSubuser":{"type":"object","required":["user","pending","created"],"properties":{"user":{"$ref":"#/components/schemas/ApiUser"},"pending":{"type":"boolean"},"created":{"type":"string","format":"date-time"}}},"ServerType":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","SPIGOT","FOLIA","PURPUR","WATERFALL","VELOCITY","FABRIC","BUNGEECORD","QUILT","FORGE","NEOFORGE","MOHIST","ARCLIGHT","SPONGE","LEAVES","CANVAS","ASPAPER","LEGACY_FABRIC","LOOHP_LIMBO","NANOLIMBO","DIVINEMC","MAGMA","LEAF","VELOCITY_CTD"]},"ServerTypeInfo":{"type":"object","required":["name","icon","color","homepage","deprecated","experimental","description","categories","compatibility","builds","versions"],"properties":{"name":{"type":"string"},"icon":{"type":"string"},"color":{"type":"string"},"homepage":{"type":"string"},"deprecated":{"type":"boolean"},"experimental":{"type":"boolean"},"description":{"type":"string"},"categories":{"type":"array","items":{"type":"string"}},"compatibility":{"type":"array","items":{"type":"string"}},"builds":{"type":"integer","format":"int64"},"versions":{"type":"object","required":["minecraft","project"],"properties":{"minecraft":{"type":"integer","format":"int64"},"project":{"type":"integer","format":"int64"}}}}},"Version":{"type":"object","required":["type","supported","java","builds","created","latest"],"properties":{"type":{"$ref":"#/components/schemas/VersionType"},"supported":{"type":"boolean"},"java":{"type":"integer","format":"int32"},"builds":{"type":"integer","format":"int64"},"created":{"type":"string","format":"date-time"},"latest":{"$ref":"#/components/schemas/Build"}}},"VersionType":{"type":"string","enum":["RELEASE","SNAPSHOT"]}},"securitySchemes":{"api_key":{"type":"apiKey","in":"header","name":"Authorization"}}}}